body {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }


.container {
    display: grid;
    grid-template-columns: 21% auto;
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
    overflow: auto;
}

.dashboard {
    background-color: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    color: #fff;
    font-size: 25px;
    padding: .6em;
    display: inline-block;
    line-height: 50px;
    font-weight: bold;
}

.dashboard .svgIcon {
    vertical-align: middle;
}

.dashboard .text {
    vertical-align: middle;    
}

.dashboardOptions {
    padding-top: 1.5em;
    display: inline-block;
    line-height: 21px;
    height: 21px;
}

.dashboardContent {
    vertical-align: bottom  ;
    padding: .5em 0 .5em .6em;
}

.dashboardContent > a {
    color: #fff;
    font-size: 21px;
    vertical-align: bottom;
    text-decoration: none;
    padding-left: .5em;
    font-weight: 500;
}

.header {
    grid-row: 1 / 2;
    background-color: #fff;
    display: grid;
    grid-template-rows: 40% auto;    
    background-color: #fff;  
    box-shadow: 0px 1px 5px #9897A1;
}

.topHeader {
    padding: .9em 4em 0 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    height: 1.8em;
    width: 55%;
    background-color: #E2E8F0;
    border-radius: 1em;
    margin-left: .9em;
}

.bell-ring {
    margin-left: 6.4em;
}


.topRightIcon, .biggerIcon, .trendingImage {
    clip-path: ellipse(farthest-side closest-side);
}


.topRightIcon {
    height: 45px;
    margin-left: 2.2em;
}

.topRightName {
    font-size: 17px;
    font-weight: 800;
    margin-left: 1.5em;
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 4em 0 2em;    
}

.leftBottomHeader {
    display: flex;
    justify-content: start;
    column-gap: 1em;
    align-items: center;
}

.biggerIcon {
    height: 60px;
}

.hiThere {
    font-size: 14px;
    font-weight: 600;
}

.line-break {
    display: block;
    font-size: 23px;
    font-weight: 600;
}

.buttons {
    display: flex;
    column-gap: 28px;
    align-items: center;
}

.button {
    background-color: #1992D4;
    border: none;
    color: #fff;
    padding: 11px 27px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
}

.content {
    display: grid;
    grid-row: 2 / 6;
    background-color: #E2E8F0;
    grid-template-columns: 72% auto;
    grid-template-rows: min-content auto;
    padding: 1.5em 1.2em 2em;
}

.mainTitle, .titleSidebar {
    font-size: 19px;
    font-weight: 600;
}

.mainTitle {
    grid-area: 1 / 1 / span 1 / span 1;
    margin-left: 1em;
}

.titleSidebar {
    grid-area: 1 / 2 / span 1 / span 1;
}

.cardAnnouncement {
    background-color: #fff;
    width: 93%;
    padding: .9em 0 .6em 0;
    box-shadow: 0px 1px 5px #9897A1;
    border-radius: 2.5%;
}

.cards {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 1.8em;
    margin-top: 1em;
}

.card {
    width: 77%;
    padding: 2em 1.5em;
    background-color: #fff;
    box-shadow: inset 7px 0 0 0 #F0B429, 0px 1px 5px #9897A1;
    border-radius: 2.5%;
}

.titleCard {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    
}

.cardContent {
    font-size: 14px;
    font-weight: 500;
    opacity: .7;
}

.iconsGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5em;
    gap: 1.2em;
}

.sidebar {
    padding-top: 1.1em;
}

.sidebarCard {
    line-height: 20px;
    font-size: 13px;
    font-weight: 800;
    padding: .9rem 3em 1em 2.5em;
}

.sidebarpara {
    line-height: 13px;
    font-size: 12px;
    text-align: justify;
    opacity: .6;
}

.soft-line {
    width: 70%;
    margin: 0 auto;
}

.trending {
    padding-top: 1.5em;
    font-size: 19px;
    font-weight: 600;
}

.trendingBox {
    width: 84.2%;
    background-color: #fff;
    margin-top: .9em;
    box-shadow: 0px 1px 5px #9897A1;
    border-radius: 2.5%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 1.5em;
    justify-items: left;
    align-items: center;
    padding: 1.5em 0 1.4em 1.5em;
}

.trendingImage {
    height: 45px;
}

.trendingText {
    font-size: 13px;
    font-weight: 500;
}

.line-break2 {
    display: block;
    font-size: 13px;
    font-weight: 500;
    opacity: .6;
}